.button-start {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fed455;
}
.off {
  color: #ccc;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.star-rating {
  font-size: 30px;
}
