.name {
  text-decoration: none;
  color: #000;
}

.text-wrap {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card {
  position: relative;
  .like {
    border: 1px solid;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
  }
}
